@charset "UTF-8";

#fenetre {
	
	display: flex;
	flex-direction: row;
}

#affichageFiltres {
	max-width: 25%;
	margin-right: 20px;
}

table {
	border-collapse: collapse;
}

td {
	border: 1px solid black;
	font-size: 80%;
}
