@charset "UTF-8";

table {
	border-collapse: collapse;
}

td {
	border: 1px solid black;
	padding: 3px 10px 3px 10px;
}

#fenetre {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: lightgrey;
}
